
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

## Intellij IDE (IDEA, PhpStorm, etc)
/.idea/

## Books (fb2, epub)
data/books

## Postgres data (docker volume)
data/pg
